{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block fos_user_content %}
	<div id="user_frame" >
		<h1>
			{{ 'security.login.title' |trans }}
		</h1>

		<form action="{{ path("fos_user_security_check") }}" method="post">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			
			{% if error %}
				<div class="error_widget" >
					<p>{{ error.messageKey |trans(error.messageData, 'security') }}</p>
				</div>
			{% endif %}
			
			<div class="widget" >
				<label for="username">{{ 'security.login.username' |trans }}</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
			</div>
			
			<div class="widget" >
				<label for="password">{{ 'security.login.password' |trans }}</label>
				<input type="password" id="password" name="_password" required="required" />
			</div>

			<div class="option" >
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">{{ 'security.login.remember_me' |trans }}</label>
			</div>

			<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
		</form>
	</div>
{% endblock fos_user_content %}
