{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Registration - {{ parent() }}{% endblock %}

{% block fos_user_content %}
	<div id="user_frame" >
		<h1>
			{{ 'registration.register.title'|trans }}
		</h1>

		{{ form_start (form) }}
			{% if form_errors(form) is not empty %}
				<div class="error_widget" >
					{{ form_errors(form) }}
				</div>
			{% endif %}
			
			<div class="widget" >
				{% if form_errors(form.email) is not empty %}
					<div class="error_widget" >
						{{ form_errors(form.email) }}
					</div>
				{% endif %}
				{{ form_label (form.email) }}
				{{ form_widget (form.email) }}
			</div>
			
			<div class="widget" >
				{% if form_errors(form.username) is not empty %}
					<div class="error_widget" >
						{{ form_errors(form.username) }}
					</div>
				{% endif %}
				{{ form_label (form.username) }}
				{{ form_widget (form.username) }}
			</div>
			
			<div class="widget" >
				{% if form_errors(form.plainPassword.first) is not empty %}
					<div class="error_widget" >
						{{ form_errors(form.plainPassword.first) }}
					</div>
				{% endif %}
				{{ form_label (form.plainPassword.first) }}
				{{ form_widget (form.plainPassword.first) }}
				{{ form_label (form.plainPassword.second) }}
				{{ form_widget (form.plainPassword.second) }}
			</div>
			
			<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
		{{ form_end (form) }}
	</div>
{% endblock fos_user_content %}
